body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1642px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:898px;
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:898px;
}
#u639 {
  position:absolute;
  left:2px;
  top:441px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1642px;
  height:39px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 160, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:1642px;
  height:39px;
}
#u641 {
  position:absolute;
  left:2px;
  top:12px;
  width:1638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u642 {
  position:absolute;
  left:17px;
  top:7px;
  width:24px;
  height:25px;
}
#u643 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow-Bold', 'Arial Narrow Bold', 'Arial Narrow';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u644 {
  position:absolute;
  left:100px;
  top:10px;
  width:43px;
  height:20px;
  font-family:'ArialNarrow-Bold', 'Arial Narrow Bold', 'Arial Narrow';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u646 {
  position:absolute;
  left:50px;
  top:10px;
  width:46px;
  height:20px;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u648 {
  position:absolute;
  left:153px;
  top:10px;
  width:29px;
  height:20px;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:858px;
}
#u650 {
  position:absolute;
  left:0px;
  top:40px;
  width:199px;
  height:858px;
}
#u651 {
  position:absolute;
  left:2px;
  top:421px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u652 {
  position:absolute;
  left:0px;
  top:39px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u652_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u652.selected {
}
#u653 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u654 {
  position:absolute;
  left:0px;
  top:73px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u654_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u654.selected {
}
#u655 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u656 {
  position:absolute;
  left:0px;
  top:107px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u656_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u656.selected {
}
#u657 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u658 {
  position:absolute;
  left:0px;
  top:141px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u658_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u658.selected {
}
#u659 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:350px;
}
#u660 {
  position:absolute;
  left:200px;
  top:39px;
  width:1197px;
  height:350px;
}
#u661 {
  position:absolute;
  left:2px;
  top:167px;
  width:1193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:1006px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 254, 254, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u662 {
  position:absolute;
  left:223px;
  top:388px;
  width:1136px;
  height:1006px;
}
#u663 {
  position:absolute;
  left:2px;
  top:495px;
  width:1132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u664 {
  position:absolute;
  left:402px;
  top:267px;
  width:16px;
  height:12px;
}
#u665 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u666 {
  position:absolute;
  left:394px;
  top:256px;
  width:33px;
  height:33px;
}
#u667 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u668 {
  position:absolute;
  left:403px;
  top:267px;
  width:16px;
  height:12px;
}
#u669 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670 {
  position:absolute;
  left:1262px;
  top:89px;
  width:88px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u671 {
  position:absolute;
  left:253px;
  top:412px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:2px;
}
#u673 {
  position:absolute;
  left:253px;
  top:612px;
  width:1072px;
  height:1px;
}
#u674 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u675 {
  position:absolute;
  left:253px;
  top:646px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:2px;
}
#u677 {
  position:absolute;
  left:253px;
  top:843px;
  width:1072px;
  height:1px;
}
#u678 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u679 {
  position:absolute;
  left:253px;
  top:877px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u681 {
  position:absolute;
  left:253px;
  top:452px;
  width:192px;
  height:137px;
}
#u682 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u683 {
  position:absolute;
  left:471px;
  top:452px;
  width:192px;
  height:137px;
}
#u684 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u685 {
  position:absolute;
  left:687px;
  top:452px;
  width:192px;
  height:137px;
}
#u686 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u687 {
  position:absolute;
  left:906px;
  top:452px;
  width:192px;
  height:137px;
}
#u688 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u689 {
  position:absolute;
  left:253px;
  top:683px;
  width:192px;
  height:137px;
}
#u690 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u691 {
  position:absolute;
  left:471px;
  top:683px;
  width:192px;
  height:137px;
}
#u692 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u693 {
  position:absolute;
  left:687px;
  top:683px;
  width:192px;
  height:137px;
}
#u694 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u695 {
  position:absolute;
  left:906px;
  top:683px;
  width:192px;
  height:137px;
}
#u696 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:2px;
}
#u697 {
  position:absolute;
  left:253px;
  top:1075px;
  width:1072px;
  height:1px;
}
#u698 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u699 {
  position:absolute;
  left:253px;
  top:1109px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u701 {
  position:absolute;
  left:253px;
  top:915px;
  width:192px;
  height:137px;
}
#u702 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u703 {
  position:absolute;
  left:471px;
  top:915px;
  width:192px;
  height:137px;
}
#u704 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u705 {
  position:absolute;
  left:687px;
  top:915px;
  width:192px;
  height:137px;
}
#u706 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u707 {
  position:absolute;
  left:906px;
  top:915px;
  width:192px;
  height:137px;
}
#u708 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u709 {
  position:absolute;
  left:253px;
  top:1149px;
  width:192px;
  height:137px;
}
#u710 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u711 {
  position:absolute;
  left:471px;
  top:1149px;
  width:192px;
  height:137px;
}
#u712 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u713 {
  position:absolute;
  left:687px;
  top:1149px;
  width:192px;
  height:137px;
}
#u714 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u715 {
  position:absolute;
  left:906px;
  top:1149px;
  width:192px;
  height:137px;
}
#u716 {
  position:absolute;
  left:2px;
  top:60px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u717 {
  position:absolute;
  left:1237px;
  top:407px;
  width:88px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u718 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
