body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2943px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:687px;
}
#u21 {
  position:absolute;
  left:72px;
  top:77px;
  width:386px;
  height:687px;
}
#u22 {
  position:absolute;
  left:2px;
  top:336px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:687px;
}
#u23 {
  position:absolute;
  left:579px;
  top:77px;
  width:386px;
  height:687px;
}
#u24 {
  position:absolute;
  left:2px;
  top:336px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:687px;
}
#u25 {
  position:absolute;
  left:1077px;
  top:77px;
  width:386px;
  height:687px;
}
#u26 {
  position:absolute;
  left:2px;
  top:336px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:1093px;
  top:191px;
  width:132px;
  height:21px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:1093px;
  top:320px;
  width:72px;
  height:21px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:687px;
}
#u31 {
  position:absolute;
  left:1572px;
  top:77px;
  width:386px;
  height:687px;
}
#u32 {
  position:absolute;
  left:2px;
  top:336px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  position:absolute;
  left:1587px;
  top:191px;
  width:157px;
  height:21px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:1093px;
  top:439px;
  width:157px;
  height:21px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:687px;
}
#u37 {
  position:absolute;
  left:2067px;
  top:77px;
  width:386px;
  height:687px;
}
#u38 {
  position:absolute;
  left:2px;
  top:336px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:2082px;
  top:307px;
  width:72px;
  height:21px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 245, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:1572px;
  top:414px;
  width:386px;
  height:120px;
}
#u42 {
  position:absolute;
  left:2px;
  top:52px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u44 {
  position:absolute;
  left:1601px;
  top:457px;
  width:45px;
  height:38px;
}
#u45 {
  position:absolute;
  left:2px;
  top:11px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#85878A;
}
#u46 {
  position:absolute;
  left:1595px;
  top:503px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#85878A;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  position:absolute;
  left:1587px;
  top:427px;
  width:237px;
  height:21px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:1587px;
  top:311px;
  width:80px;
  height:21px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:687px;
}
#u52 {
  position:absolute;
  left:2557px;
  top:77px;
  width:386px;
  height:687px;
}
#u53 {
  position:absolute;
  left:2px;
  top:336px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#82868D;
  text-align:right;
}
#u54 {
  position:absolute;
  left:2735px;
  top:223px;
  width:181px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#82868D;
  text-align:right;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:112px;
}
#u56 {
  position:absolute;
  left:2067px;
  top:524px;
  width:386px;
  height:112px;
}
#u57 {
  position:absolute;
  left:2px;
  top:48px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
