body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1642px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u660 {
  position:absolute;
  left:559px;
  top:190px;
  width:144px;
  height:25px;
}
#u660_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u661 {
  position:absolute;
  left:314px;
  top:225px;
  width:119px;
  height:22px;
}
#u661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u661_input:disabled {
  color:grayText;
}
#u662 {
  position:absolute;
  left:449px;
  top:225px;
  width:119px;
  height:22px;
}
#u662_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u662_input:disabled {
  color:grayText;
}
#u663 {
  position:absolute;
  left:584px;
  top:225px;
  width:119px;
  height:22px;
}
#u663_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u663_input:disabled {
  color:grayText;
}
#u664 {
  position:absolute;
  left:314px;
  top:418px;
  width:144px;
  height:22px;
}
#u664_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u664_input:disabled {
  color:grayText;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u665 {
  position:absolute;
  left:261px;
  top:226px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u667 {
  position:absolute;
  left:559px;
  top:382px;
  width:144px;
  height:25px;
}
#u667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u668 {
  position:absolute;
  left:492px;
  top:193px;
  width:57px;
  height:20px;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  position:absolute;
  left:492px;
  top:385px;
  width:57px;
  height:20px;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u672 {
  position:absolute;
  left:247px;
  top:419px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u675 {
  position:absolute;
  left:468px;
  top:417px;
  width:144px;
  height:25px;
}
#u676 {
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677 {
  position:absolute;
  left:469px;
  top:418px;
  width:125px;
  height:23px;
}
#u677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u678 {
  position:absolute;
  left:594px;
  top:420px;
  width:15px;
  height:20px;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u680 {
  position:absolute;
  left:314px;
  top:452px;
  width:143px;
  height:22px;
}
#u680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u680_input:disabled {
  color:grayText;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u681 {
  position:absolute;
  left:247px;
  top:453px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u683 {
  position:absolute;
  left:247px;
  top:485px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u685 {
  position:absolute;
  left:314px;
  top:485px;
  width:389px;
  height:79px;
}
#u685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:79px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u686 {
  position:absolute;
  left:247px;
  top:384px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u688 {
  position:absolute;
  left:314px;
  top:385px;
  width:57px;
  height:18px;
}
#u689 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u688_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u690 {
  position:absolute;
  left:380px;
  top:385px;
  width:57px;
  height:18px;
}
#u691 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u690_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u692 {
  position:absolute;
  left:247px;
  top:152px;
  width:73px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u694 {
  position:absolute;
  left:247px;
  top:269px;
  width:73px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u696 {
  position:absolute;
  left:314px;
  top:309px;
  width:119px;
  height:22px;
}
#u696_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u696_input:disabled {
  color:grayText;
}
#u697 {
  position:absolute;
  left:449px;
  top:309px;
  width:119px;
  height:22px;
}
#u697_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u697_input:disabled {
  color:grayText;
}
#u698 {
  position:absolute;
  left:584px;
  top:309px;
  width:119px;
  height:22px;
}
#u698_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u698_input:disabled {
  color:grayText;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u699 {
  position:absolute;
  left:261px;
  top:310px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u701 {
  position:absolute;
  left:247px;
  top:350px;
  width:73px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u703 {
  position:absolute;
  left:261px;
  top:192px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u705 {
  position:absolute;
  left:314px;
  top:190px;
  width:144px;
  height:25px;
}
#u705_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u706 {
  position:absolute;
  left:1037px;
  top:67px;
  width:103px;
  height:31px;
  color:#169BD5;
}
#u707 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  position:absolute;
  left:492px;
  top:451px;
  width:57px;
  height:20px;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u710 {
  position:absolute;
  left:706px;
  top:449px;
  width:61px;
  height:24px;
}
#u710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u710_input:disabled {
  color:grayText;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u712 {
  position:absolute;
  left:559px;
  top:449px;
  width:144px;
  height:25px;
}
#u713 {
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714 {
  position:absolute;
  left:560px;
  top:450px;
  width:125px;
  height:23px;
}
#u714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u715 {
  position:absolute;
  left:685px;
  top:452px;
  width:15px;
  height:20px;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u717 {
  position:absolute;
  left:440px;
  top:272px;
  width:20px;
  height:20px;
}
#u718 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u719 {
  position:absolute;
  left:330px;
  top:272px;
  width:20px;
  height:20px;
}
#u720 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  position:absolute;
  left:355px;
  top:272px;
  width:57px;
  height:20px;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u723 {
  position:absolute;
  left:465px;
  top:272px;
  width:57px;
  height:20px;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u725 {
  position:absolute;
  left:440px;
  top:156px;
  width:20px;
  height:20px;
}
#u726 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u727 {
  position:absolute;
  left:330px;
  top:156px;
  width:20px;
  height:20px;
}
#u728 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u729 {
  position:absolute;
  left:355px;
  top:156px;
  width:57px;
  height:20px;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u731 {
  position:absolute;
  left:465px;
  top:156px;
  width:57px;
  height:20px;
}
#u732 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u733 {
  position:absolute;
  left:706px;
  top:382px;
  width:61px;
  height:25px;
}
#u733_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u733_input:disabled {
  color:grayText;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u734 {
  position:absolute;
  left:247px;
  top:122px;
  width:81px;
  height:20px;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  position:absolute;
  left:247px;
  top:67px;
  width:103px;
  height:31px;
}
#u737 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u738 {
  position:absolute;
  left:621px;
  top:568px;
  width:82px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u739 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:898px;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:898px;
}
#u742 {
  position:absolute;
  left:2px;
  top:441px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1642px;
  height:39px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 160, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:1642px;
  height:39px;
}
#u744 {
  position:absolute;
  left:2px;
  top:12px;
  width:1638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u745 {
  position:absolute;
  left:17px;
  top:7px;
  width:24px;
  height:25px;
}
#u746 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow-Bold', 'Arial Narrow Bold', 'Arial Narrow';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u747 {
  position:absolute;
  left:100px;
  top:10px;
  width:43px;
  height:20px;
  font-family:'ArialNarrow-Bold', 'Arial Narrow Bold', 'Arial Narrow';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u749 {
  position:absolute;
  left:50px;
  top:10px;
  width:46px;
  height:20px;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u750 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u751 {
  position:absolute;
  left:153px;
  top:10px;
  width:29px;
  height:20px;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:858px;
}
#u753 {
  position:absolute;
  left:0px;
  top:40px;
  width:199px;
  height:858px;
}
#u754 {
  position:absolute;
  left:2px;
  top:421px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u755 {
  position:absolute;
  left:0px;
  top:39px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u755_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u755.selected {
}
#u756 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u757 {
  position:absolute;
  left:0px;
  top:73px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u757_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u757.selected {
}
#u758 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u759 {
  position:absolute;
  left:0px;
  top:107px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u759_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u759.selected {
}
#u760 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1443px;
  height:859px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u762 {
  position:absolute;
  left:199px;
  top:39px;
  width:1443px;
  height:859px;
  opacity:0.3;
}
#u763 {
  position:absolute;
  left:2px;
  top:422px;
  width:1439px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764 {
  position:absolute;
  left:650px;
  top:252px;
}
#u764_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u764_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  position:absolute;
  left:62px;
  top:60px;
  width:415px;
  height:270px;
}
#u766 {
  position:absolute;
  left:2px;
  top:127px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u767 {
  position:absolute;
  left:202px;
  top:104px;
  width:145px;
  height:75px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u768 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  position:absolute;
  left:104px;
  top:230px;
  width:140px;
  height:40px;
}
#u770 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u771 {
  position:absolute;
  left:305px;
  top:230px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u772 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u764_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u764_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  position:absolute;
  left:62px;
  top:60px;
  width:415px;
  height:270px;
}
#u774 {
  position:absolute;
  left:2px;
  top:127px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u775 {
  position:absolute;
  left:143px;
  top:104px;
  width:253px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u776 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  position:absolute;
  left:99px;
  top:230px;
  width:140px;
  height:40px;
}
#u778 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u779 {
  position:absolute;
  left:300px;
  top:230px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u780 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u764_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u764_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:373px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u781 {
  position:absolute;
  left:18px;
  top:26px;
  width:509px;
  height:373px;
}
#u782 {
  position:absolute;
  left:2px;
  top:178px;
  width:505px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u783 {
  position:absolute;
  left:38px;
  top:49px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u784 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u785 {
  position:absolute;
  left:105px;
  top:194px;
  width:389px;
  height:79px;
}
#u785_input {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:79px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u786 {
  position:absolute;
  left:388px;
  top:249px;
  width:82px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u787 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u788 {
  position:absolute;
  left:51px;
  top:110px;
  width:294px;
  height:18px;
}
#u789 {
  position:absolute;
  left:16px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u788_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u790 {
  position:absolute;
  left:51px;
  top:138px;
  width:294px;
  height:18px;
}
#u791 {
  position:absolute;
  left:16px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u790_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u792 {
  position:absolute;
  left:51px;
  top:166px;
  width:294px;
  height:18px;
}
#u793 {
  position:absolute;
  left:16px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u792_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u794 {
  position:absolute;
  left:231px;
  top:138px;
  width:294px;
  height:18px;
}
#u795 {
  position:absolute;
  left:16px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u794_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u796 {
  position:absolute;
  left:51px;
  top:194px;
  width:294px;
  height:18px;
}
#u797 {
  position:absolute;
  left:16px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u796_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u798 {
  position:absolute;
  left:51px;
  top:82px;
  width:294px;
  height:18px;
}
#u799 {
  position:absolute;
  left:16px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u798_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u800 {
  position:absolute;
  left:231px;
  top:82px;
  width:294px;
  height:18px;
}
#u801 {
  position:absolute;
  left:16px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u800_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u802 {
  position:absolute;
  left:231px;
  top:110px;
  width:294px;
  height:18px;
}
#u803 {
  position:absolute;
  left:16px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u802_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u804 {
  position:absolute;
  left:51px;
  top:323px;
  width:111px;
  height:37px;
}
#u805 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u806 {
  position:absolute;
  left:210px;
  top:323px;
  width:111px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u807 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u764_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u764_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u808 {
  position:absolute;
  left:62px;
  top:60px;
  width:415px;
  height:270px;
}
#u809 {
  position:absolute;
  left:2px;
  top:127px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  text-align:center;
}
#u810 {
  position:absolute;
  left:188px;
  top:104px;
  width:163px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  text-align:center;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u812 {
  position:absolute;
  left:99px;
  top:230px;
  width:140px;
  height:40px;
}
#u813 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u814 {
  position:absolute;
  left:300px;
  top:230px;
  width:140px;
  height:40px;
}
#u815 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
