body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1828px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:898px;
}
#u476 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:898px;
}
#u477 {
  position:absolute;
  left:2px;
  top:441px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1642px;
  height:39px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 160, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u478 {
  position:absolute;
  left:0px;
  top:0px;
  width:1642px;
  height:39px;
}
#u479 {
  position:absolute;
  left:2px;
  top:12px;
  width:1638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u480 {
  position:absolute;
  left:17px;
  top:7px;
  width:24px;
  height:25px;
}
#u481 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow-Bold', 'Arial Narrow Bold', 'Arial Narrow';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u482 {
  position:absolute;
  left:100px;
  top:10px;
  width:43px;
  height:20px;
  font-family:'ArialNarrow-Bold', 'Arial Narrow Bold', 'Arial Narrow';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u484 {
  position:absolute;
  left:50px;
  top:10px;
  width:46px;
  height:20px;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u485 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u486 {
  position:absolute;
  left:153px;
  top:10px;
  width:29px;
  height:20px;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u487 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:858px;
}
#u488 {
  position:absolute;
  left:0px;
  top:40px;
  width:199px;
  height:858px;
}
#u489 {
  position:absolute;
  left:2px;
  top:421px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u490 {
  position:absolute;
  left:0px;
  top:39px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u490_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u490.selected {
}
#u491 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u492 {
  position:absolute;
  left:0px;
  top:73px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u492_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u492.selected {
}
#u493 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u494 {
  position:absolute;
  left:0px;
  top:107px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u494_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u494.selected {
}
#u495 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u496 {
  position:absolute;
  left:0px;
  top:141px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u496_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u496.selected {
}
#u497 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1629px;
  height:894px;
}
#u498 {
  position:absolute;
  left:199px;
  top:39px;
  width:1629px;
  height:894px;
}
#u499 {
  position:absolute;
  left:2px;
  top:439px;
  width:1625px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500 {
  position:absolute;
  left:1677px;
  top:445px;
  width:60px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u501 {
  position:absolute;
  left:1677px;
  top:500px;
  width:60px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u502 {
  position:absolute;
  left:1677px;
  top:553px;
  width:60px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u503 {
  position:absolute;
  left:1677px;
  top:608px;
  width:60px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u504 {
  position:absolute;
  left:1677px;
  top:661px;
  width:60px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u505 {
  position:absolute;
  left:1677px;
  top:716px;
  width:60px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u506 {
  position:absolute;
  left:1677px;
  top:769px;
  width:60px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u507 {
  position:absolute;
  left:1677px;
  top:824px;
  width:60px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
